* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.main-visual {
  height: 400px;
  width: 100%;
  background-image: url(img/mv.jpg);
  background-size: cover;
  background-position: bottom;
}

.headline {
  padding: 20px;
}

main {
  width: 840px;
  height: auto;
  margin: 50px;
}

.item {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid gray;
}
